{
  "openapi": "3.1.0",
  "info": {
    "title": "YeahPay API (SG Transactions)",
    "version": "2.1",
    "description": "Based on YeahPay API Documentation (SG Transactions) 2.1. Request signatures use SHA-512. Join URL, appId, timestamp, version, nonce, the raw request body, and API key in that order with line feeds (ASCII 0x0A), then calculate the digest. The API key is used only for signing and is never sent in a request header."
  },
  "servers": [
    {
      "url": "https://t-acquire-business.lepass.cn/gw/abroad-business-acceptance-open-api",
      "description": "Test environment"
    }
  ],
  "tags": [
    {
      "name": "Checkout",
      "description": "Mobile and PC checkout"
    },
    {
      "name": "Subscription payments",
      "description": "Customer, consent, and subsequent charge management"
    },
    {
      "name": "Reversal and refund",
      "description": "Unified reversal or refund"
    },
    {
      "name": "QR code transactions",
      "description": "Merchant-presented QR, customer-presented QR, query, close, and refund query operations"
    },
    {
      "name": "Online Pre-Authorization Card Transactions",
      "description": "Online pre-authorization card transaction APIs, including pre-authorization completion, cancellation, and settlement"
    }
  ],
  "security": [
    {
      "AppIdAuth": [],
      "SignatureAuth": []
    }
  ],
  "paths": {
    "/cardOrder/getRedirectUrl": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Get checkout URL",
        "operationId": "getRedirectUrl",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=getRedirectUrl\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashierRedirectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashierRedirectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/cardOrder/getTradeType": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Query payment methods",
        "operationId": "getTradeType",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=getTradeType\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/cardOrder/getPcRedirectUrl": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Get PC checkout URL",
        "operationId": "getPcRedirectUrl",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=getPcRedirectUrl\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PcCashierRedirectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashierRedirectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/consent-payment/customers/create": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Create customer",
        "description": "Create a Subscription Payments customer. The response returns a customerId that is required when creating the initial-payment Checkout.",
        "operationId": "createConsentCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          },
          {
            "$ref": "#/components/parameters/CountryHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsentCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsentCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=createConsentCustomer\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/customers/update": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Update customer",
        "description": "Locate a customer by customerId or merchantCustomerId and update at least one non-empty customer field.",
        "operationId": "updateConsentCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsentCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=updateConsentCustomer\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/customers/query": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Query customer",
        "description": "Query customer details by customerId or merchantCustomerId.",
        "operationId": "queryConsentCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryConsentCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=queryConsentCustomer\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/customers/consents": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Query customer consents",
        "description": "Query Subscription Payment consents associated with a customer, with pagination.",
        "operationId": "queryCustomerConsents",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryCustomerConsentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedConsentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=queryCustomerConsents\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/consents/query": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Query consent",
        "description": "Query Subscription Payment consents by consentId, customerId, or merchantCustomerId.",
        "operationId": "queryConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=queryConsent\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/consents/cancel": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Cancel consent",
        "description": "Cancel a Subscription Payment consent. Subsequent charges cannot be initiated after cancellation.",
        "operationId": "cancelConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=cancelConsent\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/consents/activate": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Reactivate consent",
        "description": "Reactivate a Subscription Payment consent previously cancelled by the merchant.",
        "operationId": "activateConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=activateConsent\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/charges/create": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "Initiate subsequent charge",
        "description": "Initiate a merchant-side subsequent charge using an active Subscription Payment consent. The amount is in the smallest currency unit.",
        "operationId": "createConsentCharge",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsentChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsentChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=createConsentCharge\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/consent-payment/charges/list": {
      "post": {
        "tags": [
          "Subscription payments"
        ],
        "summary": "List charges",
        "description": "List subsequent charges for a consent, with pagination.",
        "operationId": "listConsentCharges",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsentChargesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedConsentChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=listConsentCharges\">Generate the signature and cURL for this operation.</Card>"
        }
      }
    },
    "/unified/reversalOperation": {
      "post": {
        "tags": [
          "Reversal and refund"
        ],
        "summary": "Unified reversal or refund",
        "operationId": "reversalOperation",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=reversalOperation\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReversalOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversalOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/order/unifiedOrder": {
      "post": {
        "tags": [
          "QR code transactions"
        ],
        "summary": "Merchant-presented QR order (customer scans merchant QR code)",
        "operationId": "unifiedOrder",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=unifiedOrder\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnifiedOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/order/queryOrder": {
      "post": {
        "tags": [
          "QR code transactions"
        ],
        "summary": "Query payment (QR code or card)",
        "operationId": "queryOrder",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=queryOrder\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/order/microPay": {
      "post": {
        "tags": [
          "QR code transactions"
        ],
        "summary": "Customer-presented QR payment (merchant scans customer code)",
        "operationId": "microPay",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=microPay\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicroPayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicroPayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/order/closeOrder": {
      "post": {
        "tags": [
          "QR code transactions"
        ],
        "summary": "Close or reverse an order",
        "operationId": "closeOrder",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=closeOrder\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/order/queryRefund": {
      "post": {
        "tags": [
          "QR code transactions"
        ],
        "summary": "Query refund (QR code or card)",
        "operationId": "queryRefund",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=queryRefund\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/cardOrder/preAuthCompleteOnline": {
      "post": {
        "tags": [
          "Online Pre-Authorization Card Transactions"
        ],
        "summary": "Complete Pre-Authorization",
        "description": "Pre-authorization completion API (open-api service)",
        "operationId": "preAuthCompleteOnline",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=preAuthCompleteOnline\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreAuthCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreAuthCompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/cardOrder/preAuthCompleteCancelOnline": {
      "post": {
        "tags": [
          "Online Pre-Authorization Card Transactions"
        ],
        "summary": "Cancel Pre-Authorization Completion",
        "description": "Pre-authorization completion cancellation API (open-api service)",
        "operationId": "preAuthCompleteCancelOnline",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=preAuthCompleteCancelOnline\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreAuthCompleteCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreAuthCompleteCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/cardOrder/batchSettleOnline": {
      "post": {
        "tags": [
          "Online Pre-Authorization Card Transactions"
        ],
        "summary": "Batch Settlement",
        "description": "Batch settlement API (open-api service)",
        "operationId": "batchSettleOnline",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=batchSettleOnline\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSettleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSettleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/cardOrder/settleQuery": {
      "post": {
        "tags": [
          "Online Pre-Authorization Card Transactions"
        ],
        "summary": "Settlement Query",
        "description": "Settlement query API (open-api service)",
        "operationId": "settleQuery",
        "x-mint": {
          "content": "<Card title=\"Signed request tester\" href=\"/en/api-tester?operationId=settleQuery\">Generate the signature and cURL for this operation.</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettleQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Signature verification or authentication failed"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "webhooks": {
    "paymentNotification": {
      "post": {
        "summary": "Payment result notification",
        "operationId": "paymentNotification",
        "description": "Asynchronous payment result notification. Use the complete callback URL when verifying the signature. Return plain text `success` after successful processing. The source document mentions decryption but does not define an encryption algorithm or ciphertext field, so this specification does not infer a decryption structure.",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification received successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "success"
                }
              }
            }
          }
        }
      }
    },
    "refundNotification": {
      "post": {
        "summary": "Refund result notification",
        "operationId": "refundNotification",
        "description": "Asynchronous refund result notification. Use the complete callback URL when verifying the signature. Return plain text `success` after successful processing. The source document mentions decryption but does not define an encryption algorithm or ciphertext field, so this specification does not infer a decryption structure.",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification received successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "success"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppIdAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "appId",
        "description": "Application ID."
      },
      "SignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "signature",
        "description": "SHA-512 request signature."
      }
    },
    "parameters": {
      "VersionHeader": {
        "name": "version",
        "in": "header",
        "required": true,
        "description": "Request version. The common parameter table specifies the fixed value 1.0. The 2.0 value in the signing example conflicts with that definition, so this specification uses 1.0.",
        "schema": {
          "type": "string",
          "const": "1.0"
        },
        "example": "1.0"
      },
      "TimestampHeader": {
        "name": "timestamp",
        "in": "header",
        "required": true,
        "description": "Request timestamp in milliseconds.",
        "schema": {
          "type": "string",
          "pattern": "^\\d{13}$"
        },
        "example": "1694082355494"
      },
      "AlgorithmHeader": {
        "name": "algorithm",
        "in": "header",
        "required": false,
        "description": "Signature algorithm.",
        "schema": {
          "type": "string",
          "const": "SHA-512",
          "default": "SHA-512"
        },
        "example": "SHA-512"
      },
      "AppIdHeader": {
        "name": "appId",
        "in": "header",
        "required": true,
        "description": "Application ID.",
        "schema": {
          "type": "string"
        },
        "example": "1000122333"
      },
      "NonceHeader": {
        "name": "nonce",
        "in": "header",
        "required": true,
        "description": "Random string.",
        "schema": {
          "type": "string"
        },
        "example": "FGHUdssdfs5sEDF"
      },
      "SignatureHeader": {
        "name": "signature",
        "in": "header",
        "required": true,
        "description": "SHA-512 signature. The signing text is `URL\\nappId\\ntimestamp\\nversion\\nnonce\\nraw request body\\nAPI key`.",
        "schema": {
          "type": "string"
        }
      },
      "AcceptLanguageHeader": {
        "name": "Accept-Language",
        "in": "header",
        "required": false,
        "description": "Response language.",
        "schema": {
          "type": "string",
          "examples": [
            "zh-CN"
          ]
        }
      },
      "AcceptTimezoneHeader": {
        "name": "Accept-Timezone",
        "in": "header",
        "required": false,
        "description": "Response timezone.",
        "schema": {
          "type": "string",
          "examples": [
            "Asia/Shanghai"
          ]
        }
      },
      "CountryHeader": {
        "name": "country",
        "in": "header",
        "required": false,
        "description": "Country or region code",
        "schema": {
          "type": "string",
          "maxLength": 2
        }
      }
    },
    "schemas": {
      "ConsentApiResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Business result code. 0 indicates success.",
            "example": 0
          },
          "message": {
            "type": "string",
            "description": "Result description"
          },
          "traceId": {
            "type": "string",
            "description": "Trace ID"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ConsentCustomerAddress": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country or region code",
            "maxLength": 2
          },
          "state": {
            "type": "string",
            "description": "State or province",
            "maxLength": 128
          },
          "city": {
            "type": "string",
            "description": "City",
            "maxLength": 128
          },
          "district": {
            "type": "string",
            "description": "Region",
            "maxLength": 128
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code",
            "maxLength": 32
          },
          "street": {
            "type": "string",
            "description": "Street address",
            "maxLength": 512
          }
        }
      },
      "CreateConsentCustomerRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID",
            "maxLength": 32
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "Merchant-side customer identifier. It must be unique and immutable for the merchant.",
            "maxLength": 128
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name",
            "maxLength": 128
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name",
            "maxLength": 128
          },
          "email": {
            "type": "string",
            "description": "Customer email address",
            "format": "email",
            "maxLength": 256
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number",
            "maxLength": 64
          },
          "address": {
            "$ref": "#/components/schemas/ConsentCustomerAddress"
          }
        },
        "required": [
          "merchantId",
          "merchantCustomerId",
          "firstName",
          "lastName",
          "email"
        ]
      },
      "UpdateConsentCustomerRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID",
            "maxLength": 32
          },
          "customerId": {
            "type": "string",
            "description": "Customer identifier. Provide either this field or merchantCustomerId.",
            "maxLength": 64
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "Merchant-side customer identifier. Provide either this field or customerId.",
            "maxLength": 128
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name",
            "maxLength": 128
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name",
            "maxLength": 128
          },
          "email": {
            "type": "string",
            "description": "Customer email address",
            "maxLength": 256
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number",
            "maxLength": 64
          },
          "address": {
            "$ref": "#/components/schemas/ConsentCustomerAddress"
          }
        },
        "required": [
          "merchantId"
        ],
        "allOf": [
          {
            "anyOf": [
              {
                "required": [
                  "customerId"
                ]
              },
              {
                "required": [
                  "merchantCustomerId"
                ]
              }
            ]
          },
          {
            "anyOf": [
              {
                "required": [
                  "firstName"
                ]
              },
              {
                "required": [
                  "lastName"
                ]
              },
              {
                "required": [
                  "email"
                ]
              },
              {
                "required": [
                  "phone"
                ]
              },
              {
                "required": [
                  "address"
                ]
              }
            ]
          }
        ],
        "description": "In addition to a customer lookup field, provide at least one non-empty field to update."
      },
      "QueryConsentCustomerRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID",
            "maxLength": 32
          },
          "customerId": {
            "type": "string",
            "description": "Customer identifier. Provide either this field or merchantCustomerId.",
            "maxLength": 64
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "Merchant-side customer identifier. Provide either this field or customerId.",
            "maxLength": 128
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "customerId"
            ]
          },
          {
            "required": [
              "merchantCustomerId"
            ]
          }
        ]
      },
      "ConsentCustomerData": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Customer identifier"
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "Merchant-side customer identifier"
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "description": "Customer email address"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Customer phone number"
          },
          "address": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConsentCustomerAddress"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "description": "Creation time",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Update time",
            "format": "date-time"
          }
        }
      },
      "CreateConsentCustomerData": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Customer identifier"
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "Merchant-side customer identifier"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation time",
            "format": "date-time"
          }
        },
        "required": [
          "customerId",
          "merchantCustomerId"
        ]
      },
      "CreateConsentCustomerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/CreateConsentCustomerData"
              }
            }
          }
        ]
      },
      "ConsentCustomerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ConsentCustomerData"
              }
            }
          }
        ]
      },
      "QueryCustomerConsentsRequest": {
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "description": "Records per page",
            "minimum": 1,
            "maximum": 100
          },
          "currentPage": {
            "type": "integer",
            "description": "Current page number",
            "minimum": 1
          },
          "form": {
            "type": "object",
            "properties": {
              "merchantId": {
                "type": "string",
                "description": "Merchant ID",
                "maxLength": 32
              },
              "customerId": {
                "type": "string",
                "description": "Customer identifier",
                "maxLength": 64
              }
            },
            "required": [
              "merchantId",
              "customerId"
            ]
          }
        },
        "required": [
          "pageSize",
          "currentPage",
          "form"
        ]
      },
      "QueryConsentRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID",
            "maxLength": 32
          },
          "consentId": {
            "type": "string",
            "description": "Consent identifier",
            "maxLength": 64
          },
          "customerId": {
            "type": "string",
            "description": "Customer identifier",
            "maxLength": 64
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "Merchant-side customer identifier",
            "maxLength": 128
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "consentId"
            ]
          },
          {
            "required": [
              "customerId"
            ]
          },
          {
            "required": [
              "merchantCustomerId"
            ]
          }
        ]
      },
      "ConsentStateRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID",
            "maxLength": 32
          },
          "consentId": {
            "type": "string",
            "description": "Consent identifier",
            "maxLength": 64
          },
          "reason": {
            "type": "string",
            "description": "Reason for the status change",
            "maxLength": 512
          }
        },
        "required": [
          "merchantId",
          "consentId",
          "reason"
        ]
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "consentId": {
            "type": "string",
            "description": "Consent identifier"
          },
          "customerId": {
            "type": "string",
            "description": "Customer identifier"
          },
          "status": {
            "type": "string",
            "description": "Consent status",
            "enum": [
              "active",
              "cancelled",
              "suspended"
            ]
          },
          "createTime": {
            "type": "string",
            "description": "Creation time",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "description": "Update time",
            "format": "date-time"
          }
        }
      },
      "ConsentStateData": {
        "type": "object",
        "properties": {
          "consentId": {
            "type": "string",
            "description": "Consent identifier"
          },
          "status": {
            "type": "string",
            "description": "Consent status",
            "enum": [
              "active",
              "cancelled",
              "suspended"
            ]
          },
          "updatedAt": {
            "type": "string",
            "description": "Update time",
            "format": "date-time"
          }
        }
      },
      "ConsentListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ConsentData"
                }
              }
            }
          }
        ]
      },
      "PagedConsentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "description": "Records per page"
                  },
                  "current": {
                    "type": "integer",
                    "description": "Current page number"
                  },
                  "total": {
                    "type": "integer",
                    "description": "Total number of records"
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ConsentData"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "ConsentStateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ConsentStateData"
              }
            }
          }
        ]
      },
      "CreateConsentChargeRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID",
            "maxLength": 32
          },
          "consentId": {
            "type": "string",
            "description": "Consent identifier",
            "maxLength": 64
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Merchant order number",
            "maxLength": 128
          },
          "amount": {
            "type": "integer",
            "description": "Charge amount in the smallest currency unit",
            "format": "int64",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency as three uppercase letters",
            "pattern": "^[A-Z]{3}$"
          },
          "notifyUrl": {
            "type": "string",
            "description": "Payment result notification URL",
            "format": "uri",
            "maxLength": 1024
          },
          "description": {
            "type": "string",
            "description": "Charge description",
            "maxLength": 512
          }
        },
        "required": [
          "merchantId",
          "consentId",
          "merchantOrderId",
          "amount",
          "currency"
        ]
      },
      "ConsentChargeData": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "YeahPay order number"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Merchant order number"
          },
          "amount": {
            "type": "string",
            "description": "Charge amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "status": {
            "type": "string",
            "description": "Charge status"
          },
          "paymentTime": {
            "type": [
              "string",
              "null"
            ],
            "description": "Payment time",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "description": "Creation time",
            "format": "date-time"
          }
        }
      },
      "CreateConsentChargeResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string",
                    "description": "YeahPay order number"
                  },
                  "merchantOrderId": {
                    "type": "string",
                    "description": "Merchant order number"
                  },
                  "consentId": {
                    "type": "string",
                    "description": "Consent identifier"
                  },
                  "status": {
                    "type": "string",
                    "description": "Charge status"
                  }
                }
              }
            }
          }
        ]
      },
      "ListConsentChargesRequest": {
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "description": "Records per page",
            "minimum": 1,
            "maximum": 100
          },
          "currentPage": {
            "type": "integer",
            "description": "Current page number",
            "minimum": 1
          },
          "form": {
            "type": "object",
            "properties": {
              "merchantId": {
                "type": "string",
                "description": "Merchant ID",
                "maxLength": 32
              },
              "consentId": {
                "type": "string",
                "description": "Consent identifier",
                "maxLength": 64
              }
            },
            "required": [
              "merchantId",
              "consentId"
            ]
          }
        },
        "required": [
          "pageSize",
          "currentPage",
          "form"
        ]
      },
      "PagedConsentChargeResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "description": "Records per page"
                  },
                  "current": {
                    "type": "integer",
                    "description": "Current page number"
                  },
                  "total": {
                    "type": "integer",
                    "description": "Total number of records"
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ConsentChargeData"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "UnifiedOrderRequest": {
        "type": "object",
        "properties": {
          "payWay": {
            "type": "string",
            "description": "Payment method",
            "enum": [
              "WXZF",
              "ZFBZF",
              "PayNowPay",
              "LiquidPay",
              "DashPay",
              "GrabPay"
            ]
          },
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "Merchant order number"
          },
          "amount": {
            "type": "integer",
            "description": "Order amount in the smallest currency unit",
            "format": "int64",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency",
            "enum": [
              "SGD"
            ]
          },
          "jspayFlag": {
            "type": "string",
            "description": "Transaction type",
            "enum": [
              "NATIVE",
              "JSAPI",
              "MICROPAY",
              "APP",
              "APPLET",
              "H5Pay",
              "ONLINE_CARD"
            ]
          },
          "subAppid": {
            "type": "string",
            "description": "Sub-merchant App ID. The field name is retained from the source document."
          },
          "subOpenid": {
            "type": "string",
            "description": "Sub-merchant user identifier"
          },
          "openid": {
            "type": "string",
            "description": "User identifier"
          },
          "clientIp": {
            "type": "string",
            "description": "Client IP address"
          },
          "body": {
            "type": "string",
            "description": "Product description"
          },
          "attach": {
            "type": "string",
            "description": "Additional data"
          },
          "posNo": {
            "type": "string",
            "description": "POS number"
          },
          "extendBusinessParams": {
            "type": "string",
            "description": "Extended business parameters as a JSON string"
          },
          "limitPay": {
            "type": "string",
            "description": "Restricted payment methods",
            "enum": [
              "NAVERPAY",
              "TOSSPAY",
              "TINABA",
              "MPAY",
              "ALIPAY_CN",
              "ALIPAY_HK",
              "KAKAOPAY",
              "TNG",
              "GCASH",
              "TRUEMONEY"
            ]
          },
          "orderExpiration": {
            "type": "string",
            "description": "Order expiration time"
          },
          "region": {
            "type": "string",
            "description": "Region"
          },
          "phoneType": {
            "type": "string",
            "description": "Device type"
          },
          "jumpUrl": {
            "type": "string",
            "description": "Payment completion redirect URL",
            "format": "uri"
          },
          "notifyUrl": {
            "type": "string",
            "description": "Payment result notification URL",
            "format": "uri"
          }
        },
        "required": [
          "payWay",
          "merchantId",
          "thirdOrderId",
          "amount",
          "currency",
          "jspayFlag"
        ]
      },
      "UnifiedOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "Business result code. Standard transaction examples return a string, while checkout examples return the number 0, so both formats are supported."
          },
          "message": {
            "type": "string",
            "description": "Result description"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Order amount"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Processing duration"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Currency"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay order number"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant ID"
              },
              "tdCode": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "QR code. The field name is retained from the source document."
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant order number"
              },
              "payInfo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Payment information"
              },
              "channelOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Channel order number"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "OrderLookupRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "Merchant order number. Provide either this field or leshuaOrderId."
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "YeahPay order number. Provide either this field or thirdOrderId."
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "thirdOrderId"
            ]
          },
          {
            "required": [
              "leshuaOrderId"
            ]
          }
        ]
      },
      "QueryOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "Business result code. Standard transaction examples return a string, while checkout examples return the number 0, so both formats are supported."
          },
          "message": {
            "type": "string",
            "description": "Result description"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Order amount"
              },
              "buyerPayAmount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Buyer payment amount"
              },
              "buyerPayCurrency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Buyer payment currency"
              },
              "buyerPayRate": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Buyer payment exchange rate"
              },
              "channelOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Channel order number"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Processing duration"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Order currency"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay order number"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant ID"
              },
              "payTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Payment time"
              },
              "payWay": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Payment method"
              },
              "status": {
                "type": "string",
                "description": "Order status",
                "enum": [
                  "0",
                  "2",
                  "6",
                  "8",
                  "10",
                  "11",
                  "12"
                ],
                "x-enum-descriptions": {
                  "0": "Unpaid",
                  "2": "Payment successful",
                  "6": "Closed",
                  "8": "Refund processing",
                  "10": "Refund successful",
                  "11": "Refund failed",
                  "12": "Payment processing"
                }
              },
              "subMerchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Sub-merchant ID"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant order number"
              },
              "mppInfo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "MPP information"
              },
              "orderSettleStatus": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Order settlement status"
              },
              "cardType": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Card type"
              },
              "cardNativeFlag": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Local card indicator"
              },
              "encryptCardId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Encrypted card number"
              },
              "maskCardId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Masked card number"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "MicroPayRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "Merchant order number"
          },
          "amount": {
            "type": "integer",
            "description": "Order amount in the smallest currency unit",
            "format": "int64",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency",
            "enum": [
              "SGD"
            ]
          },
          "authCode": {
            "type": "string",
            "description": "Customer payment code"
          },
          "appid": {
            "type": "string",
            "description": "Application ID. The field name is retained from the source document."
          },
          "clientIp": {
            "type": "string",
            "description": "Client IP address"
          },
          "body": {
            "type": "string",
            "description": "Product description"
          },
          "attach": {
            "type": "string",
            "description": "Additional data"
          },
          "posNo": {
            "type": "string",
            "description": "POS number"
          },
          "notifyUrl": {
            "type": "string",
            "description": "Payment result notification URL",
            "format": "uri"
          }
        },
        "required": [
          "merchantId",
          "thirdOrderId",
          "amount",
          "currency",
          "authCode"
        ]
      },
      "MicroPayResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "Business result code. Standard transaction examples return a string, while checkout examples return the number 0, so both formats are supported."
          },
          "message": {
            "type": "string",
            "description": "Result description"
          },
          "data": {
            "type": "object",
            "properties": {
              "channelCode": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Channel result code"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Processing duration"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay order number"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant ID"
              },
              "payWay": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Payment method"
              },
              "status": {
                "type": "string",
                "description": "Order status",
                "enum": [
                  "0",
                  "2",
                  "6",
                  "8",
                  "10",
                  "11",
                  "12"
                ],
                "x-enum-descriptions": {
                  "0": "Unpaid",
                  "2": "Payment successful",
                  "6": "Closed",
                  "8": "Refund processing",
                  "10": "Refund successful",
                  "11": "Refund failed",
                  "12": "Payment processing"
                }
              },
              "subMerchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Sub-merchant ID"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant order number"
              },
              "channelOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Channel order number"
              },
              "buyerPayAmount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Buyer payment amount"
              },
              "buyerPayCurrency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Buyer payment currency"
              },
              "mppInfo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "MPP information"
              },
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Order amount"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Order currency"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "CloseOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "Business result code. Standard transaction examples return a string, while checkout examples return the number 0, so both formats are supported."
          },
          "message": {
            "type": "string",
            "description": "Result description"
          },
          "data": {
            "type": "object",
            "properties": {
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay order number"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant ID"
              },
              "status": {
                "type": "string",
                "description": "Order status",
                "enum": [
                  "0",
                  "2",
                  "6",
                  "8",
                  "10",
                  "11",
                  "12"
                ],
                "x-enum-descriptions": {
                  "0": "Unpaid",
                  "2": "Payment successful",
                  "6": "Closed",
                  "8": "Refund processing",
                  "10": "Refund successful",
                  "11": "Refund failed",
                  "12": "Payment processing"
                }
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant order number"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "QueryRefundRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "merchantRefundId": {
            "type": "string",
            "description": "Merchant refund number"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "Merchant order number. Provide either this field or leshuaOrderId."
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "YeahPay order number. Provide either this field or thirdOrderId."
          }
        },
        "required": [
          "merchantId",
          "merchantRefundId"
        ],
        "anyOf": [
          {
            "required": [
              "thirdOrderId"
            ]
          },
          {
            "required": [
              "leshuaOrderId"
            ]
          }
        ]
      },
      "QueryRefundResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "Business result code. Standard transaction examples return a string, while checkout examples return the number 0, so both formats are supported."
          },
          "message": {
            "type": "string",
            "description": "Result description"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Original order amount"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Processing duration"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Currency"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay order number"
              },
              "leshuaRefundId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay refund number"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant ID"
              },
              "merchantRefundId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant refund number"
              },
              "refundAmount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Refund amount"
              },
              "refundTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Refund time"
              },
              "status": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Refund status"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Merchant order number"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "ReversalOperationRequest": {
        "type": "object",
        "properties": {
          "sceneType": {
            "type": "integer",
            "description": "Scenario type: 1 refund, 2 reversal",
            "enum": [
              1,
              2
            ]
          },
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "notifyUrl": {
            "type": "string",
            "description": "Result notification URL",
            "format": "uri"
          },
          "amount": {
            "type": "integer",
            "description": "Refund amount. Used for refund scenarios.",
            "format": "int64",
            "minimum": 1
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "Original YeahPay order number"
          },
          "posNo": {
            "type": "string",
            "description": "POS number"
          },
          "merchantRefundId": {
            "type": "string",
            "description": "Merchant refund number. Required when sceneType is 1."
          },
          "terminalId": {
            "type": "string",
            "description": "Terminal number. Required only for POS reversals."
          },
          "oriThirdOrderId": {
            "type": "string",
            "description": "Original merchant order number"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "Merchant order number. Required when sceneType is 2."
          }
        },
        "required": [
          "sceneType",
          "merchantId"
        ],
        "allOf": [
          {
            "if": {
              "properties": {
                "sceneType": {
                  "const": 1
                }
              },
              "required": [
[...]
