{
  "openapi": "3.1.0",
  "info": {
    "title": "YeahPay API（SG 交易）",
    "version": "2.1",
    "description": "根据《YeahPay API 接口文档（SG_交易）2.1》整理。请求签名使用 SHA-512：按 URL、appId、timestamp、version、nonce、原始请求体、API key 的顺序，以换行符（ASCII 0x0A）连接后计算摘要。API key 仅参与签名，不作为请求头传输。"
  },
  "servers": [
    {
      "url": "https://t-acquire-business.lepass.cn/gw/abroad-business-acceptance-open-api",
      "description": "测试环境"
    }
  ],
  "tags": [
    {
      "name": "收银台",
      "description": "移动端和 PC 收银台"
    },
    {
      "name": "订阅支付",
      "description": "客户、授权和后续扣款管理"
    },
    {
      "name": "撤销-退款",
      "description": "统一撤销或退款"
    },
    {
      "name": "扫码交易",
      "description": "主扫、被扫、查询、关闭和退款查询"
    },
    {
      "name": "线上预授权刷卡交易",
      "description": "线上预授权刷卡交易接口，包括预授权完成、预授权完成撤销及结算请款"
    }
  ],
  "security": [
    {
      "AppIdAuth": [],
      "SignatureAuth": []
    }
  ],
  "paths": {
    "/cardOrder/getRedirectUrl": {
      "post": {
        "tags": [
          "收银台"
        ],
        "summary": "获取收银台地址",
        "operationId": "getRedirectUrl",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=getRedirectUrl\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashierRedirectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashierRedirectResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/cardOrder/getTradeType": {
      "post": {
        "tags": [
          "收银台"
        ],
        "summary": "查询支付方式",
        "operationId": "getTradeType",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=getTradeType\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/cardOrder/getPcRedirectUrl": {
      "post": {
        "tags": [
          "收银台"
        ],
        "summary": "获取 PC 收银台地址",
        "operationId": "getPcRedirectUrl",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=getPcRedirectUrl\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PcCashierRedirectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashierRedirectResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/consent-payment/customers/create": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "创建客户",
        "description": "创建订阅支付客户。成功后返回 customerId，创建首次订阅支付收银台时需要传入该标识。",
        "operationId": "createConsentCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          },
          {
            "$ref": "#/components/parameters/CountryHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsentCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsentCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=createConsentCustomer\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/customers/update": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "更新客户",
        "description": "通过 customerId 或 merchantCustomerId 定位客户，并更新至少一个非空客户字段。",
        "operationId": "updateConsentCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsentCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=updateConsentCustomer\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/customers/query": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "查询客户",
        "description": "通过 customerId 或 merchantCustomerId 查询客户资料。",
        "operationId": "queryConsentCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryConsentCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=queryConsentCustomer\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/customers/consents": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "查询客户授权",
        "description": "分页查询指定客户关联的订阅支付授权。",
        "operationId": "queryCustomerConsents",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryCustomerConsentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedConsentResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=queryCustomerConsents\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/consents/query": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "查询授权",
        "description": "通过 consentId、customerId 或 merchantCustomerId 查询订阅支付授权。",
        "operationId": "queryConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=queryConsent\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/consents/cancel": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "取消授权",
        "description": "取消指定订阅支付授权。取消后不能继续发起后续扣款。",
        "operationId": "cancelConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=cancelConsent\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/consents/activate": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "重新启用授权",
        "description": "重新启用已由商户取消的订阅支付授权。",
        "operationId": "activateConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=activateConsent\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/charges/create": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "发起后续扣款",
        "description": "使用有效的订阅支付授权发起一笔商户侧后续扣款。金额单位为最小货币单位。",
        "operationId": "createConsentCharge",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsentChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsentChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=createConsentCharge\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/consent-payment/charges/list": {
      "post": {
        "tags": [
          "订阅支付"
        ],
        "summary": "查询扣款列表",
        "description": "分页查询指定授权的后续扣款记录。",
        "operationId": "listConsentCharges",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsentChargesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedConsentChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        },
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=listConsentCharges\">使用此接口参数生成请求签名和 cURL。</Card>"
        }
      }
    },
    "/unified/reversalOperation": {
      "post": {
        "tags": [
          "撤销-退款"
        ],
        "summary": "统一撤销或退款",
        "operationId": "reversalOperation",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=reversalOperation\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReversalOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversalOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/order/unifiedOrder": {
      "post": {
        "tags": [
          "扫码交易"
        ],
        "summary": "主扫（消费者扫商户收款码、线上支付）",
        "operationId": "unifiedOrder",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=unifiedOrder\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnifiedOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/order/queryOrder": {
      "post": {
        "tags": [
          "扫码交易"
        ],
        "summary": "支付查询（扫码、刷卡）",
        "operationId": "queryOrder",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=queryOrder\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/order/microPay": {
      "post": {
        "tags": [
          "扫码交易"
        ],
        "summary": "被扫（商户扫消费者付款码）",
        "operationId": "microPay",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=microPay\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicroPayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicroPayResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/order/closeOrder": {
      "post": {
        "tags": [
          "扫码交易"
        ],
        "summary": "订单关闭或撤销",
        "operationId": "closeOrder",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=closeOrder\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/order/unifiedRefund": {
      "post": {
        "tags": [
          "扫码交易"
        ],
        "summary": "统一退款",
        "operationId": "unifiedRefund",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=unifiedRefund\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnifiedRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/order/queryRefund": {
      "post": {
        "tags": [
          "扫码交易"
        ],
        "summary": "退款查询（扫码、刷卡）",
        "operationId": "queryRefund",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=queryRefund\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/cardOrder/preAuthCompleteOnline": {
      "post": {
        "tags": [
          "线上预授权刷卡交易"
        ],
        "summary": "预授权完成",
        "description": "预授权完成接口（open-api服务）",
        "operationId": "preAuthCompleteOnline",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=preAuthCompleteOnline\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreAuthCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreAuthCompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/cardOrder/preAuthCompleteCancelOnline": {
      "post": {
        "tags": [
          "线上预授权刷卡交易"
        ],
        "summary": "预授权完成撤销",
        "description": "预授权完成撤销接口（open-api服务）",
        "operationId": "preAuthCompleteCancelOnline",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=preAuthCompleteCancelOnline\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreAuthCompleteCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreAuthCompleteCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/cardOrder/batchSettleOnline": {
      "post": {
        "tags": [
          "线上预授权刷卡交易"
        ],
        "summary": "结算请款",
        "description": "结算请款接口（open-api服务）",
        "operationId": "batchSettleOnline",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=batchSettleOnline\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSettleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSettleResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    },
    "/cardOrder/settleQuery": {
      "post": {
        "tags": [
          "线上预授权刷卡交易"
        ],
        "summary": "请款查询",
        "description": "请款查询接口（open-api服务）",
        "operationId": "settleQuery",
        "x-mint": {
          "content": "<Card title=\"在线签名调试\" href=\"/api-tester?operationId=settleQuery\">使用此接口参数生成请求签名和 cURL。</Card>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptTimezoneHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettleQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误"
          },
          "401": {
            "description": "签名验证失败或身份认证失败"
          },
          "500": {
            "description": "服务端错误"
          }
        }
      }
    }
  },
  "webhooks": {
    "paymentNotification": {
      "post": {
        "summary": "支付结果通知",
        "operationId": "paymentNotification",
        "description": "支付结果异步通知。验签时 URL 使用完整回调地址；成功接收后返回纯文本 `success`。源文档仍提到“解密”，但未提供加密算法或密文字段定义，本规范不臆造解密结构。",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "通知接收成功",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "success"
                }
              }
            }
          }
        }
      }
    },
    "refundNotification": {
      "post": {
        "summary": "退款结果通知",
        "operationId": "refundNotification",
        "description": "退款结果异步通知。验签时 URL 使用完整回调地址；成功接收后返回纯文本 `success`。源文档仍提到“解密”，但未提供加密算法或密文字段定义，本规范不臆造解密结构。",
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionHeader"
          },
          {
            "$ref": "#/components/parameters/TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/AlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/AppIdHeader"
          },
          {
            "$ref": "#/components/parameters/NonceHeader"
          },
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "通知接收成功",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "success"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppIdAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "appId",
        "description": "应用 ID。"
      },
      "SignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "signature",
        "description": "SHA-512 请求签名。"
      }
    },
    "parameters": {
      "VersionHeader": {
        "name": "version",
        "in": "header",
        "required": true,
        "description": "请求版本。公共参数表规定固定值为 1.0；签名示例中的 2.0 与该定义冲突，本规范采用公共参数表的 1.0。",
        "schema": {
          "type": "string",
          "const": "1.0"
        },
        "example": "1.0"
      },
      "TimestampHeader": {
        "name": "timestamp",
        "in": "header",
        "required": true,
        "description": "请求时间戳（毫秒）。",
        "schema": {
          "type": "string",
          "pattern": "^\\d{13}$"
        },
        "example": "1694082355494"
      },
      "AlgorithmHeader": {
        "name": "algorithm",
        "in": "header",
        "required": false,
        "description": "签名算法。",
        "schema": {
          "type": "string",
          "const": "SHA-512",
          "default": "SHA-512"
        },
        "example": "SHA-512"
      },
      "AppIdHeader": {
        "name": "appId",
        "in": "header",
        "required": true,
        "description": "应用 ID。",
        "schema": {
          "type": "string"
        },
        "example": "1000122333"
      },
      "NonceHeader": {
        "name": "nonce",
        "in": "header",
        "required": true,
        "description": "随机字符串。",
        "schema": {
          "type": "string"
        },
        "example": "FGHUdssdfs5sEDF"
      },
      "SignatureHeader": {
        "name": "signature",
        "in": "header",
        "required": true,
        "description": "SHA-512 签名。签名原文为 `URL\\nappId\\ntimestamp\\nversion\\nnonce\\n原始请求体\\nAPI key`。",
        "schema": {
          "type": "string"
        }
      },
      "AcceptLanguageHeader": {
        "name": "Accept-Language",
        "in": "header",
        "required": false,
        "description": "响应语言。",
        "schema": {
          "type": "string",
          "examples": [
            "zh-CN"
          ]
        }
      },
      "AcceptTimezoneHeader": {
        "name": "Accept-Timezone",
        "in": "header",
        "required": false,
        "description": "响应时区。",
        "schema": {
          "type": "string",
          "examples": [
            "Asia/Shanghai"
          ]
        }
      },
      "CountryHeader": {
        "name": "country",
        "in": "header",
        "required": false,
        "description": "国家或地区代码",
        "schema": {
          "type": "string",
          "maxLength": 2
        }
      }
    },
    "schemas": {
      "ConsentApiResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "业务结果码，0 表示请求成功",
            "example": 0
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "traceId": {
            "type": "string",
            "description": "链路追踪 ID"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ConsentCustomerAddress": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "国家或地区代码",
            "maxLength": 2
          },
          "state": {
            "type": "string",
            "description": "州或省",
            "maxLength": 128
          },
          "city": {
            "type": "string",
            "description": "城市",
            "maxLength": 128
          },
          "district": {
            "type": "string",
            "description": "地区",
            "maxLength": 128
          },
          "postalCode": {
            "type": "string",
            "description": "邮政编码",
            "maxLength": 32
          },
          "street": {
            "type": "string",
            "description": "街道地址",
            "maxLength": 512
          }
        }
      },
      "CreateConsentCustomerRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "maxLength": 32
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "商户侧客户标识。必须在当前商户下唯一且保持不变",
            "maxLength": 128
          },
          "firstName": {
            "type": "string",
            "description": "客户名字",
            "maxLength": 128
          },
          "lastName": {
            "type": "string",
            "description": "客户姓氏",
            "maxLength": 128
          },
          "email": {
            "type": "string",
            "description": "客户邮箱",
            "format": "email",
            "maxLength": 256
          },
          "phone": {
            "type": "string",
            "description": "客户手机号",
            "maxLength": 64
          },
          "address": {
            "$ref": "#/components/schemas/ConsentCustomerAddress"
          }
        },
        "required": [
          "merchantId",
          "merchantCustomerId",
          "firstName",
          "lastName",
          "email"
        ]
      },
      "UpdateConsentCustomerRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "maxLength": 32
          },
          "customerId": {
            "type": "string",
            "description": "客户标识。与 merchantCustomerId 至少填写一个",
            "maxLength": 64
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "商户侧客户标识。与 customerId 至少填写一个",
            "maxLength": 128
          },
          "firstName": {
            "type": "string",
            "description": "客户名字",
            "maxLength": 128
          },
          "lastName": {
            "type": "string",
            "description": "客户姓氏",
            "maxLength": 128
          },
          "email": {
            "type": "string",
            "description": "客户邮箱",
            "maxLength": 256
          },
          "phone": {
            "type": "string",
            "description": "客户手机号",
            "maxLength": 64
          },
          "address": {
            "$ref": "#/components/schemas/ConsentCustomerAddress"
          }
        },
        "required": [
          "merchantId"
        ],
        "allOf": [
          {
            "anyOf": [
              {
                "required": [
                  "customerId"
                ]
              },
              {
                "required": [
                  "merchantCustomerId"
                ]
              }
            ]
          },
          {
            "anyOf": [
              {
                "required": [
                  "firstName"
                ]
              },
              {
                "required": [
                  "lastName"
                ]
              },
              {
                "required": [
                  "email"
                ]
              },
              {
                "required": [
                  "phone"
                ]
              },
              {
                "required": [
                  "address"
                ]
              }
            ]
          }
        ],
        "description": "除客户定位字段外，至少提供一个非空更新字段。"
      },
      "QueryConsentCustomerRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "maxLength": 32
          },
          "customerId": {
            "type": "string",
            "description": "客户标识。与 merchantCustomerId 至少填写一个",
            "maxLength": 64
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "商户侧客户标识。与 customerId 至少填写一个",
            "maxLength": 128
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "customerId"
            ]
          },
          {
            "required": [
              "merchantCustomerId"
            ]
          }
        ]
      },
      "ConsentCustomerData": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "客户标识"
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "商户侧客户标识"
          },
          "firstName": {
            "type": "string",
            "description": "客户名字"
          },
          "lastName": {
            "type": "string",
            "description": "客户姓氏"
          },
          "email": {
            "type": "string",
            "description": "客户邮箱"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "description": "客户手机号"
          },
          "address": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConsentCustomerAddress"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "更新时间",
            "format": "date-time"
          }
        }
      },
      "CreateConsentCustomerData": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "客户标识"
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "商户侧客户标识"
          },
          "createdAt": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          }
        },
        "required": [
          "customerId",
          "merchantCustomerId"
        ]
      },
      "CreateConsentCustomerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/CreateConsentCustomerData"
              }
            }
          }
        ]
      },
      "ConsentCustomerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ConsentCustomerData"
              }
            }
          }
        ]
      },
      "QueryCustomerConsentsRequest": {
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "description": "每页记录数",
            "minimum": 1,
            "maximum": 100
          },
          "currentPage": {
            "type": "integer",
            "description": "当前页码",
            "minimum": 1
          },
          "form": {
            "type": "object",
            "properties": {
              "merchantId": {
                "type": "string",
                "description": "商户号",
                "maxLength": 32
              },
              "customerId": {
                "type": "string",
                "description": "客户标识",
                "maxLength": 64
              }
            },
            "required": [
              "merchantId",
              "customerId"
            ]
          }
        },
        "required": [
          "pageSize",
          "currentPage",
          "form"
        ]
      },
      "QueryConsentRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "maxLength": 32
          },
          "consentId": {
            "type": "string",
            "description": "授权标识",
            "maxLength": 64
          },
          "customerId": {
            "type": "string",
            "description": "客户标识",
            "maxLength": 64
          },
          "merchantCustomerId": {
            "type": "string",
            "description": "商户侧客户标识",
            "maxLength": 128
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "consentId"
            ]
          },
          {
            "required": [
              "customerId"
            ]
          },
          {
            "required": [
              "merchantCustomerId"
            ]
          }
        ]
      },
      "ConsentStateRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "maxLength": 32
          },
          "consentId": {
            "type": "string",
            "description": "授权标识",
            "maxLength": 64
          },
          "reason": {
            "type": "string",
            "description": "状态变更原因",
            "maxLength": 512
          }
        },
        "required": [
          "merchantId",
          "consentId",
          "reason"
        ]
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "consentId": {
            "type": "string",
            "description": "授权标识"
          },
          "customerId": {
            "type": "string",
            "description": "客户标识"
          },
          "status": {
            "type": "string",
            "description": "授权状态",
            "enum": [
              "active",
              "cancelled",
              "suspended"
            ]
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "description": "更新时间",
            "format": "date-time"
          }
        }
      },
      "ConsentStateData": {
        "type": "object",
        "properties": {
          "consentId": {
            "type": "string",
            "description": "授权标识"
          },
          "status": {
            "type": "string",
            "description": "授权状态",
            "enum": [
              "active",
              "cancelled",
              "suspended"
            ]
          },
          "updatedAt": {
            "type": "string",
            "description": "更新时间",
            "format": "date-time"
          }
        }
      },
      "ConsentListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ConsentData"
                }
              }
            }
          }
        ]
      },
      "PagedConsentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "description": "每页记录数"
                  },
                  "current": {
                    "type": "integer",
                    "description": "当前页码"
                  },
                  "total": {
                    "type": "integer",
                    "description": "总记录数"
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ConsentData"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "ConsentStateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ConsentStateData"
              }
            }
          }
        ]
      },
      "CreateConsentChargeRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "maxLength": 32
          },
          "consentId": {
            "type": "string",
            "description": "授权标识",
            "maxLength": 64
          },
          "merchantOrderId": {
            "type": "string",
            "description": "商户订单号",
            "maxLength": 128
          },
          "amount": {
            "type": "integer",
            "description": "扣款金额，单位为最小货币单位",
            "format": "int64",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "description": "币种，使用三个大写字母",
            "pattern": "^[A-Z]{3}$"
          },
          "notifyUrl": {
            "type": "string",
            "description": "支付结果通知地址",
            "format": "uri",
            "maxLength": 1024
          },
          "description": {
            "type": "string",
            "description": "扣款描述",
            "maxLength": 512
          }
        },
        "required": [
          "merchantId",
          "consentId",
          "merchantOrderId",
          "amount",
          "currency"
        ]
      },
      "ConsentChargeData": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "YeahPay 订单号"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "商户订单号"
          },
          "amount": {
            "type": "string",
            "description": "扣款金额"
          },
          "currency": {
            "type": "string",
            "description": "币种"
          },
          "status": {
            "type": "string",
            "description": "扣款状态"
          },
          "paymentTime": {
            "type": [
              "string",
              "null"
            ],
            "description": "支付时间",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          }
        }
      },
      "CreateConsentChargeResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string",
                    "description": "YeahPay 订单号"
                  },
                  "merchantOrderId": {
                    "type": "string",
                    "description": "商户订单号"
                  },
                  "consentId": {
                    "type": "string",
                    "description": "授权标识"
                  },
                  "status": {
                    "type": "string",
                    "description": "扣款状态"
                  }
                }
              }
            }
          }
        ]
      },
      "ListConsentChargesRequest": {
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "description": "每页记录数",
            "minimum": 1,
            "maximum": 100
          },
          "currentPage": {
            "type": "integer",
            "description": "当前页码",
            "minimum": 1
          },
          "form": {
            "type": "object",
            "properties": {
              "merchantId": {
                "type": "string",
                "description": "商户号",
                "maxLength": 32
              },
              "consentId": {
                "type": "string",
                "description": "授权标识",
                "maxLength": 64
              }
            },
            "required": [
              "merchantId",
              "consentId"
            ]
          }
        },
        "required": [
          "pageSize",
          "currentPage",
          "form"
        ]
      },
      "PagedConsentChargeResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsentApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "description": "每页记录数"
                  },
                  "current": {
                    "type": "integer",
                    "description": "当前页码"
                  },
                  "total": {
                    "type": "integer",
                    "description": "总记录数"
                  },
                  "records": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ConsentChargeData"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "UnifiedOrderRequest": {
        "type": "object",
        "properties": {
          "payWay": {
            "type": "string",
            "description": "支付方式",
            "enum": [
              "WXZF",
              "ZFBZF",
              "PayNowPay",
              "LiquidPay",
              "DashPay",
              "GrabPay"
            ]
          },
          "merchantId": {
            "type": "string",
            "description": "商户号"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "商户订单号"
          },
          "amount": {
            "type": "integer",
            "description": "订单金额，单位为最小货币单位",
            "format": "int64",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "description": "币种",
            "enum": [
              "SGD"
            ]
          },
          "jspayFlag": {
            "type": "string",
            "description": "交易类型",
            "enum": [
              "NATIVE",
              "JSAPI",
              "MICROPAY",
              "APP",
              "APPLET",
              "H5Pay",
              "ONLINE_CARD"
            ]
          },
          "subAppid": {
            "type": "string",
            "description": "子商户 App ID。字段名按源文档保留。"
          },
          "subOpenid": {
            "type": "string",
            "description": "子商户用户标识"
          },
          "openid": {
            "type": "string",
            "description": "用户标识"
          },
          "clientIp": {
            "type": "string",
            "description": "客户端 IP"
          },
          "body": {
            "type": "string",
            "description": "商品描述"
          },
          "attach": {
            "type": "string",
            "description": "附加数据"
          },
          "posNo": {
            "type": "string",
            "description": "POS 编号"
          },
          "extendBusinessParams": {
            "type": "string",
            "description": "扩展业务参数，JSON 字符串"
          },
          "limitPay": {
            "type": "string",
            "description": "限制支付方式",
            "enum": [
              "NAVERPAY",
              "TOSSPAY",
              "TINABA",
              "MPAY",
              "ALIPAY_CN",
              "ALIPAY_HK",
              "KAKAOPAY",
              "TNG",
              "GCASH",
              "TRUEMONEY"
            ]
          },
          "orderExpiration": {
            "type": "string",
            "description": "订单过期时间"
          },
          "region": {
            "type": "string",
            "description": "地区"
          },
          "phoneType": {
            "type": "string",
            "description": "手机类型"
          },
          "jumpUrl": {
            "type": "string",
            "description": "支付完成跳转地址",
            "format": "uri"
          },
          "notifyUrl": {
            "type": "string",
            "description": "支付结果通知地址",
            "format": "uri"
          },
          "subject": {
            "type": "string",
            "description": "交易描述，部分支付方式使用"
          },
          "sellerId": {
            "type": "string",
            "description": "卖家标识，部分支付宝场景使用"
          },
          "orderGmtCreate": {
            "type": "string",
            "description": "订单创建时间，北京时间，格式 yyyy-MM-dd HH:mm:ss"
          },
          "orderValidTime": {
            "type": "string",
            "description": "订单有效时间，单位为秒；与 orderGmtCreate 配合使用"
          }
        },
        "required": [
          "payWay",
          "merchantId",
          "thirdOrderId",
          "amount",
          "currency",
          "jspayFlag"
        ]
      },
      "UnifiedOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "业务结果码。普通交易示例以字符串返回；收银台示例以数字 0 返回，因此兼容两种来源格式。"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "订单金额"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "处理耗时"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "币种"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay 订单号"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户号"
              },
              "tdCode": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "二维码。字段名按源文档保留。"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户订单号"
              },
              "payInfo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "支付信息"
              },
              "channelOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "渠道订单号"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "OrderLookupRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "商户订单号。与 leshuaOrderId 至少填写一个。"
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "YeahPay 订单号。与 thirdOrderId 至少填写一个。"
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "thirdOrderId"
            ]
          },
          {
            "required": [
              "leshuaOrderId"
            ]
          }
        ]
      },
      "QueryOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "业务结果码。普通交易示例以字符串返回；收银台示例以数字 0 返回，因此兼容两种来源格式。"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "订单金额"
              },
              "buyerPayAmount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "买家支付金额"
              },
              "buyerPayCurrency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "买家支付币种"
              },
              "buyerPayRate": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "买家支付汇率"
              },
              "channelOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "渠道订单号"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "处理耗时"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "订单币种"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay 订单号"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户号"
              },
              "payTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "支付时间"
              },
              "payWay": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "支付方式"
              },
              "status": {
                "type": "string",
                "description": "订单状态",
                "enum": [
                  "0",
                  "2",
                  "6",
                  "8",
                  "10",
                  "11",
                  "12"
                ],
                "x-enum-descriptions": {
                  "0": "未支付",
                  "2": "支付成功",
                  "6": "已关闭",
                  "8": "退款中",
                  "10": "退款成功",
                  "11": "退款失败",
                  "12": "支付处理中"
                }
              },
              "subMerchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "子商户号"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户订单号"
              },
              "mppInfo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "MPP 信息"
              },
              "orderSettleStatus": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "订单结算状态"
              },
              "cardType": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "卡类型"
              },
              "cardNativeFlag": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "本地卡标识"
              },
              "encryptCardId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "加密卡号"
              },
              "maskCardId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "掩码卡号"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "MicroPayRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "商户订单号"
          },
          "amount": {
            "type": "integer",
            "description": "订单金额，单位为最小货币单位",
            "format": "int64",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "description": "币种",
            "enum": [
              "SGD"
            ]
          },
          "authCode": {
            "type": "string",
            "description": "用户付款码"
          },
          "clientIp": {
            "type": "string",
            "description": "客户端 IP"
          },
          "body": {
            "type": "string",
            "description": "商品描述"
          },
          "attach": {
            "type": "string",
            "description": "附加数据"
          },
          "posNo": {
            "type": "string",
            "description": "POS 编号"
          },
          "notifyUrl": {
            "type": "string",
            "description": "支付结果通知地址",
            "format": "uri"
          }
        },
        "required": [
          "merchantId",
          "thirdOrderId",
          "amount",
          "currency",
          "authCode"
        ]
      },
      "MicroPayResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "业务结果码。普通交易示例以字符串返回；收银台示例以数字 0 返回，因此兼容两种来源格式。"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "data": {
            "type": "object",
            "properties": {
              "channelCode": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "渠道结果码"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "处理耗时"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay 订单号"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户号"
              },
              "payWay": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "支付方式"
              },
              "status": {
                "type": "string",
                "description": "订单状态",
                "enum": [
                  "0",
                  "2",
                  "6",
                  "8",
                  "10",
                  "11",
                  "12"
                ],
                "x-enum-descriptions": {
                  "0": "未支付",
                  "2": "支付成功",
                  "6": "已关闭",
                  "8": "退款中",
                  "10": "退款成功",
                  "11": "退款失败",
                  "12": "支付处理中"
                }
              },
              "subMerchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "子商户号"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户订单号"
              },
              "channelOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "渠道订单号"
              },
              "buyerPayAmount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "买家支付金额"
              },
              "buyerPayCurrency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "买家支付币种"
              },
              "mppInfo": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "MPP 信息"
              },
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "订单金额"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "订单币种"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "CloseOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "业务结果码。普通交易示例以字符串返回；收银台示例以数字 0 返回，因此兼容两种来源格式。"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "data": {
            "type": "object",
            "properties": {
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay 订单号"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户号"
              },
              "status": {
                "type": "string",
                "description": "订单状态",
                "enum": [
                  "0",
                  "2",
                  "6",
                  "8",
                  "10",
                  "11",
                  "12"
                ],
                "x-enum-descriptions": {
                  "0": "未支付",
                  "2": "支付成功",
                  "6": "已关闭",
                  "8": "退款中",
                  "10": "退款成功",
                  "11": "退款失败",
                  "12": "支付处理中"
                }
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户订单号"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "UnifiedRefundRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号",
            "minLength": 1
          },
          "thirdOrderId": {
            "type": "string",
            "description": "商户订单号"
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "YeahPay 原订单号"
          },
          "merchantRefundId": {
            "type": "string",
            "description": "商户退款单号",
            "minLength": 1
          },
          "refundAmount": {
            "type": "integer",
            "format": "int64",
            "description": "退款金额"
          },
          "posNo": {
            "type": "string",
            "description": "POS 编号"
          },
          "notifyUrl": {
            "type": "string",
            "format": "uri",
            "description": "退款结果通知地址"
          }
        },
        "required": [
          "merchantId",
          "merchantRefundId",
          "refundAmount"
        ]
      },
      "UnifiedRefundResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "业务结果码，0 表示请求成功"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "traceId": {
            "type": "string",
            "description": "链路追踪 ID"
          },
          "data": {
            "type": "object",
            "properties": {
              "attach": {
                "type": "string",
                "description": "附加数据"
              },
              "thirdOrderId": {
                "type": "string",
                "description": "商户订单号"
              },
              "merchantId": {
                "type": "string",
                "description": "商户号"
              },
              "leshuaOrderId": {
                "type": "string",
                "description": "YeahPay 订单号"
              },
              "merchantRefundId": {
                "type": "string",
                "description": "商户退款单号"
              },
              "leshuaRefundId": {
                "type": "string",
                "description": "YeahPay 退款单号"
              },
              "costTime": {
                "type": "string",
                "description": "处理耗时"
              },
              "status": {
                "type": "string",
                "description": "订单状态"
              },
              "orderBalance": {
                "type": "string",
                "description": "订单余额"
              },
              "refundAmount": {
                "type": "string",
                "description": "退款金额"
              }
            }
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "QueryRefundRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号"
          },
          "merchantRefundId": {
            "type": "string",
            "description": "商户退款单号；三个订单标识至少填写一个"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "商户订单号；三个订单标识至少填写一个"
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "YeahPay 订单号；三个订单标识至少填写一个"
          }
        },
        "required": [
          "merchantId"
        ],
        "anyOf": [
          {
            "required": [
              "thirdOrderId"
            ],
            "properties": {
              "thirdOrderId": {
                "minLength": 1
              }
            }
          },
          {
            "required": [
              "leshuaOrderId"
            ],
            "properties": {
              "leshuaOrderId": {
                "minLength": 1
              }
            }
          },
          {
            "required": [
              "merchantRefundId"
            ],
            "properties": {
              "merchantRefundId": {
                "minLength": 1
              }
            }
          }
        ],
        "description": "thirdOrderId、leshuaOrderId、merchantRefundId 至少填写一个"
      },
      "QueryRefundResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "业务结果码。普通交易示例以字符串返回；收银台示例以数字 0 返回，因此兼容两种来源格式。"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "原订单金额"
              },
              "costTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "处理耗时"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "币种"
              },
              "leshuaOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay 订单号"
              },
              "leshuaRefundId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YeahPay 退款单号"
              },
              "merchantId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户号"
              },
              "merchantRefundId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户退款单号"
              },
              "refundAmount": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "退款金额"
              },
              "refundTime": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "退款时间"
              },
              "status": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "退款状态"
              },
              "thirdOrderId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "商户订单号"
              }
            }
          }
        },
        "required": [
          "code"
        ]
      },
      "ReversalOperationRequest": {
        "type": "object",
        "properties": {
          "sceneType": {
            "type": "integer",
            "description": "场景类型：1 线上收银台，2 线下 POS；系统根据订单状态决定退款或撤销",
            "enum": [
              1,
              2
            ]
          },
          "merchantId": {
            "type": "string",
            "description": "商户号"
          },
          "notifyUrl": {
            "type": "string",
            "description": "结果通知地址",
            "format": "uri"
          },
          "amount": {
            "type": "integer",
            "description": "退款金额；退款场景使用",
            "format": "int64",
            "minimum": 1
          },
          "leshuaOrderId": {
            "type": "string",
            "description": "YeahPay 原订单号"
          },
          "posNo": {
            "type": "string",
            "description": "POS 编号"
          },
          "merchantRefundId": {
            "type": "string",
            "description": "商户退款单号；sceneType=1 时必填"
          },
          "terminalId": {
            "type": "string",
            "description": "终端号；仅 POS 撤销时必填"
          },
          "oriThirdOrderId": {
            "type": "string",
            "description": "原商户订单号"
          },
          "thirdOrderId": {
            "type": "string",
            "description": "商户订单号；sceneType=2 时必填"
          },
          "language": {
            "type": "string",
            "description": "预授权撤销分支的请求语言：繁体 zh-TW、英文 en"
          }
        },
        "required": [
          "sceneType",
          "merchantId"
        ],
        "allOf": [
          {
            "if": {
              "properties": {
                "sceneType": {
                  "const": 1
                }
              },
              "required": [
                "sceneType"
              ]
            },
            "then": {
              "required": [
                "merchantRefundId"
              ],
              "anyOf": [
                {
                  "required": [
                    "leshuaOrderId"
                  ]
                },
                {
                  "required": [
                    "thirdOrderId"
                  ]
                }
              ]
            }
          },
          {
            "if": {
              "properties": {
                "sceneType": {
                  "const": 2
                }
              },
              "required": [
                "sceneType"
              ]
            },
            "then": {
              "required": [
                "thirdOrderId"
              ],
              "anyOf": [
                {
                  "required": [
                    "leshuaOrderId"
                  ]
                },
                {
                  "required": [
                    "oriThirdOrderId"
                  ]
                }
              ]
            }
          }
        ]
      },
      "ReversalOperationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "200"
                ]
              },
              {
                "type": "integer",
                "examples": [
                  0
                ]
              }
            ],
            "description": "业务结果码。普通交易示例以字符串返回；收银台示例以数字 0 返回，因此兼容两种来源格式。"
          },
          "message": {
            "type": "string",
            "description": "结果描述"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "string",
                "description": "金额"
              },
              "payTime": {
                "type": "string",
                "description": "处理完成时间"
              },
              "merchantId": {
                "type": "string",
                "description": "商户号"
              },
              "leshuaRefundId": {
                "type": "string",
                "description": "YeahPay 逆向单号"
              },
              "status": {
                "type": "string",
                "description": "处理状态",
                "enum": [
                  "1",
                  "2",
                  "3"
                ],
                "x-enum-descriptions": {
                  "1": "失败",
                  "2": "成功",
                  "3": "处理中"
                }
              }
            },
            "required": [
              "amount",
              "merchantId",
              "leshuaRefundId",
              "status"
            ]
          }
        },
        "required": [
          "code"
        ]
      },
      "CashierRedirectRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "商户号"
          },
          "orderId": {
            "type": "string",
            "description": "商户订单号"
          },
          "merchantReferenceNumber": {
            "type": "string",
            "description": "商户参考号，可选"
          },
          "isOnline": {
            "type": "boolean",
            "description": "是否为线上 H5 收银台。默认为 false；线上 H5 收银台设置为 true",
[...]
